﻿<h2>Login</h2>
<div *ngIf="authError" style="color: red;">Erro ao logar. Favor tente novamente</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Nome de Usuaário</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Usuário Obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="pass">Senha</label>
        <input type="password" formControlName="pass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }" />
        <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
            <div *ngIf="f.pass.errors.required">Senha é Obrigatória</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink="/register" class="btn btn-link">Registre-se</a>
    </div>
</form>