<div class="row">
  <div class="col-md-6">
  
    <div class="box "> 
      <div class="box-header with-border">
        <h3 class="box-title">Simular</h3>
        <div class="box-tools pull-right">
        </div>
        <form [formGroup]="newForm" (ngSubmit)="onSubmit()">

          <input type="hidden" formControlName="userid" id="userid" value="{{user.id}}" />
          <div class="box-body">
            <div class="form-group">
              <label for="value">Valor</label>
              <input type="number" id="value" autocomplete="off" formControlName="value" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.value.errors }" placeholder="Valor da compra">
              <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
                <div *ngIf="f.value.errors.required">Campo Obrigatório</div>
              </div>
            </div>
            <div class="form-group">
              <label for="tax">% Taxa de Juros ao Mês</label>
              <input type="number" id="tax" autocomplete="off" formControlName="tax" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tax.errors }" id="tax" placeholder="Taxa de Juros ao mês">
              <div *ngIf="submitted && f.tax.errors" class="invalid-feedback">
                <div *ngIf="f.tax.errors.required">Campo Obrigatório</div>
              </div>
            </div>
            <div class="form-group">
              <label for="quantity">Número de Parcelas</label>
              <input type="number" id="quantity" autocomplete="off" formControlName="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" id="tax" placeholder="Número de Parcelas">
              <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                <div *ngIf="f.quantity.errors.required">Campo Obrigatório</div>
              </div>
			</div>
            <div class="form-group">
              <label for="buydate">Data da Compra</label>
              <input type="date" autocomplete="off" formControlName="buydate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.buydate.errors }" id="buydate" placeholder="Data da compra">
              <div *ngIf="submitted && f.buydate.errors" class="invalid-feedback">
                <div *ngIf="f.buydate.errors.required">Campo Obrigatório</div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Calcular
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Parcelamento {{label}} {{total | currency:'BRL':true:'1.2-2'}}</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
            <div class="col-sm-12">
              <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Nº Parcela</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">Data</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">R$ Parcela</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">Saldo Restante</th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd" *ngFor="let item of payments">
                    <td class="sorting_1">{{item.n}}</td>
                    <td align="right">{{item.date | date : 'dd/MM/y'}}</td>
                    <td align="right">{{item.pay |  currency:'BRL':true:'1.2-2'}}</td>
                    <td align="right">{{item.amount |  currency:'BRL':true:'1.2-2'}}</td>
                  </tr> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
