<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li mk-dropdown type="list" [isWrapper]="false" class="user user-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <img src="assets/img/avatar5.png" class="user-image" alt="User Image">
          <span class="hidden-xs">{{user.userName}}</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li class="user-header">
          <img src="assets/img/avatar5.png" class="img-circle" alt="User Image">

          <p>
            {{user.userName}}
            <small>{{user.fullName}}</small>
          </p>
        </li>
        <li class="user-footer">
          <div class="pull-right">
            <a href="#" (click)="logout()" class="btn btn-default btn-flat">Sair</a>
          </div>
        </li>
      </mk-dropdown-menu>
    </li>
  </ul>
</div>
