<ng-container *ngIf="customLayout; else noCustomLayout">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #noCustomLayout>
  <mk-layout-wrapper>
    <mk-layout-header logoLink="/" *ngIf="currentUser">
      <mk-layout-header-logo><b>Teste </b>Seleção</mk-layout-header-logo>
      <mk-layout-header-logo-mini><b>T</b>S</mk-layout-header-logo-mini>
      <app-header-inner></app-header-inner>
    </mk-layout-header>
    <mk-layout-sidebar-left *ngIf="currentUser">
      <app-sidebar-left-inner></app-sidebar-left-inner>
    </mk-layout-sidebar-left>
   <mk-layout-content>
      <router-outlet></router-outlet>
    </mk-layout-content>
    <mk-layout-footer>
      <mk-layout-footer-left>
        <strong>Teste de Seleção Fortes</strong>
      </mk-layout-footer-left>
      <mk-layout-footer-right>
        <b>Version</b> 1.0
      </mk-layout-footer-right>
    </mk-layout-footer>
  </mk-layout-wrapper>
</ng-template>
