<div class="user-panel">
  <div class="pull-left image">
    <img src="assets/img/avatar5.png" class="img-circle" alt="User Image">
  </div>
  <div class="pull-left info">
    <p>{{user.fullName}}</p>
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>

