﻿<h2>Registre-se</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Nome de Usuário</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Nome de Usuário Obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="pass">Senha</label>
        <input type="password" formControlName="pass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }" />
        <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
            <div *ngIf="f.pass.errors.required">Senha Obrigatória</div>
        </div>
    </div>
    <div class="form-group">
        <label for="fullname">Nome Completo</label>
        <input type="text" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
        <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
            <div *ngIf="f.fullname.errors.required">Nome Completo Obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Enviar
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
