<div class="row">

  <div class="col-sm-12">
  <a href="/#/simulation/new" class="btn btn-primary">Nova Simulacao</a>
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Simulações</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
            <div class="col-sm-12">
              <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Valor Principal</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">Juros a.m.</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">Numero de Parcelas</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">Data da Compra</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">R$ Parcela</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">Valor Total(JR + VP)</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd" *ngFor="let item of sims">
                    <td class="sorting_1" align="right">{{item.value |  currency:'BRL':true:'1.2-2'}}</td>
                    <td align="right">{{item.tax}}</td>
                    <td align="right">{{item.quantity}}</td>
                    <td align="right">{{item.buyDate | date : 'dd/MM/y' }}</td>
                    <td align="right">{{item.pay |  currency:'BRL':true:'1.2-2'}}</td>
                    <td align="right">{{item.amount |  currency:'BRL':true:'1.2-2'}}</td>
                    <td align="right">
					<a  class="btn btn-primary" (click)="delete(item.id)"><i class="fa fa-close"></i></a>&nbsp;
					<a  class="btn btn-primary" href="/#/simulation/new/{{item.id}}" ><i  class="fa fa-calendar"></i></a>
					</td>
                  </tr> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
